body {
  color: #333;
}

h2 {
  margin-bottom: 30px;
}

.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

footer {
  background-color: #343a40;
  color: white;
}

.bg {
  background-color: #F9F9F9;
}

.bgHeader {
  background-color: #eee;
}

.linkColor {
  color: #1C9099;
  font-weight: bold;
}

.linkColor:hover {
  color: #1C9099;
  font-weight: bold;
}

.navbar {
  height: 80px;
  
}

.navbar-nav .nav-link {
  line-height: 80px; 
}

.btn-yellow {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
}

.btn-yellow:hover {
  background-color: #ffca28;
  border-color: #ffca28;
  color: #fff;
}

.btn-yellow:active {
  background-color: #ffa000;
  border-color: #ffa000;
  color: #fff;
}

