body {
  color: #333;
}

h2 {
  margin-bottom: 30px;
}

.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

footer {
  background-color: #343a40;
  color: white;
}

.bg {
  background-color: #1C9099;
}

.bgHeader {
  background-color: #eee;
}

.linkColor {
  color: #1C9099;
  font-weight: bold;
}

.linkColor:hover {
  color: #1C9099;
  font-weight: bold;
}